<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
	<!--TODO: Cadena de conexion a BD, 40232840757-->
		<add name="HotelZormatDB"
             connectionString="Data Source=.;Initial Catalog=HotelZormatDB;Integrated Security=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>